<%
  var bodyClass = [];

  if (is_home()) {
    bodyClass.push('index')
  }
%>
<%- partial('_partial/head') %>
<body class="<%= bodyClass.join(' ') %>" ontouchstart>

  <%- partial('_partial/header') %>

  <main>
    <%- body %>
  </main>

  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/after-footer') %>
</body>
</html>