<article class="archive-article archive-type-<%= post.layout %>">

      <%- partial('post/title', {class_name: 'archive-article-title'}) %>
      <%- partial('post/summary') %>
      <p>
            <%- partial('post/readmore', {class_name: 'archive-article-title'}) %>
            <span class="article-archive-meta">
                  <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D'}) %>
                  <span class="read-time">
                        <%- reading_time(post) %>
                  </span>
            </span>
      </p>

</article>