<article id="<%= post.layout %>-<%= post.slug %>">
  <%- post.content %>
</article>

<!-- a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a -->

<section class="article-meta">
  <div class="article-meta__inner">

    Posted on <time datetime="<%= date_xml(post.date) %>" ><%= date(post.date, config.date_format) %></time>
    <% if (post.tags && post.tags.length){ %>
      , tagged as
      <%- list_tags(post.tags, {
        style: 'text',
        show_count: false,
        class: 'article-tag'
      }) %>
    <% } %>.
  </div>
</section>