<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">

  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = page.category;
  } else if (is_tag()){
    title = '#' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, user-scalable=1" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#030303">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

  <meta name="description" content="Personal page of Szabolcs Szabolcsi-Toth, a developer from Budapest, Hungary. Organizer and curator of JSConf Budapest and CSSConf Budapest, occasional speaker, hobby hardware hacker, photographer and Lego nerd. Working at IBM Cloud Video as a senior frontend engineer.">

  <meta name="theme-color" content="#030303">
  <meta name="robots" content="index, follow">

  <%- social_tags() %>

  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>


  <%- css('css/style') %>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Libre+Franklin:300,500" rel="stylesheet">

</head>
